<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>"Secret Number Game! Enjoy!"</title>
    <style>
      body { background-color: gold; 
             color: navy-blue; }
    </style>
  </head>
  <body>
    <h1>The SECRET NUMBER is <%= random_number %></h1>
  </body>
</html>
